#1kplus_bookmarklet_table{
  border: 3px solid #333;
  position: fixed;
	_position:absolute;
	top: 0; 
	right: 0; 
	width: 570px;
	height: 80px;
	z-index: 10000000;
	margin: 0;
	padding: 0;
	background: white;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body { font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 10px; }
h1 { font-size: 18px; }
h2 { font-size: 14px; }
.small { font-size: 75%; opacity: 75%; }
.1kclose-button { background: url(close-button.png) no-repeat fixed; width: 16px; height: 16px; cursor: pointer; }
.1kplus-share-actions { text-align: right; }
.btnClose-1kplus { font-weight: bold; padding-right: 15px; }
div.shareContent-1kplus { height: 50px !important; overflow: scroll !important; border: 1px solid #000000; padding: 4px; }

/* form elements */
input[type="text"] { margin: 0; border: 0; border-bottom: 1px dotted #000000; padding: 1px; width: 300px; }
input.shareTitle { font-weight: bold; font-size: 110%; }
input:focus, div#shareContent:focus { background-color: yellow; border: 1px solid #000000; }
label { padding: 0; margin: 0; }
div.share1kplus { padding: 25px; }